<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="source" class="snippets.framework.di.spring.why.decoupled.spring.beam.SimpleMessageSource" >
        <property name="message" value="Hello World" />
    </bean>
    <bean id="destination" class="snippets.framework.di.spring.why.decoupled.spring.beam.StdoutMessageDestination" />
</beans>

